body{
    background-image: linear-gradient(135deg,#FFA6B7,#1E2AD2); 
    background-attachment: fixed;
}
#task-container{
    width: 61%;
    max-width: 720px;
    margin: 48px auto
}
#task-container h1{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    letter-spacing: 2px;
    padding-left: 2px;
}
#task-input{
    height: 36px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
}
#input-content{
    flex: auto;
    padding: 4px 12px;
}
#task-submit{
    flex: 0 0 72px;
    /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
    background-color: #6c75f1;
    color: #fff;
}
#task-detail #delete-alert{
    visibility: hidden;
}
