body{
    background-image: linear-gradient(135deg,#FFA6B7,#1E2AD2); 
    background-attachment: fixed;
}
#task-container{
    width: 61%;
    max-width: 720px;
    margin: 48px auto
}
#task-container h1{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    letter-spacing: 2px;
    padding-left: 2px;
}


/* task-input */
#task-input{
    height: 36px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
}
#input-content{
    flex: auto;
    padding: 4px 12px;
}
.invalid::-webkit-input-placeholder{
    color: #f33;
}
#task-submit{
    flex: 0 0 72px;
    background-color: #6c75f1;
    color: #fff;
    cursor: pointer;
}
#task-submit:hover{
    background-color: #565fdd;
}


/* task-detail  delete-alert*/
#task-detail, #delete-alert{
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    transition: all .3s;
}
.detail-container{
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 480px;
    height: 320px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 12px 3%;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 8px;
    opacity: 0;
    transition: all .5s;
    transform: translate(-50%, -100%);
}
.delete-container{
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 298px;
    height: 98px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 16px 12px;
    text-align: center;
    border-radius: 8px;
    opacity: 0;
    transition: all .5s;
    transform: translate(-50%, -100%);
}
aside#task-detail.show,
#delete-alert.show {
	visibility: visible;
	background-color: rgba(0,0,0,.5);
}
aside#task-detail.show .detail-container,
#delete-alert.show .delete-container {
	opacity: 1;
	transform: translate(-50%, -50%);
}
#task-title{
    font-size: 18px;
    text-align: left;
    line-height: 24px;
    margin-bottom: 12px;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
}
#task-desc{
    flex: 3 1 180px;
    border: 1px solid #30cfd0;
    line-height: 1.5em;
    margin-bottom: 12px;
}
#task-date{
    border: 1px solid #30cfd0;
    margin-bottom: 12px;
}
#button-group{
    flex: 0 0 35px;
    text-align: center;
}
#confirm, #cancel, #delete-confirm, #delete-cancel{
    cursor: pointer;
    padding: 8px 48px;
    color: #fff;
    border-radius: 4px;
    border: none;
}
#confirm, #delete-confirm{
    background-color: #00cc66;
}
#cancel, #delete-cancel{
    background-color: #cc6666;
}




/* task-list */
#task-list{
    width: 100%;
    font-size: 16px;
}
#list-content{
    margin: 0;
    padding: 0;
}
.task-item{
    padding: 0 72px 0 12px;
    border-radius: 4px;
    background-color: #fff;
    height: 36px;
    line-height: 36px;
    margin-bottom: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;

}
.delete{
    right: -24px;
    background-image: url('./images/delete.png');
}
.edit{
    right: -28px;
    background-image: url('./images/edit.png');
}
.delete, .edit{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 6px;
    cursor: pointer;
    transition: all .5s;
}
.task-item:hover {
	background-color: #eee;
}
.task-item:hover > .delete {
	right: 12px;
}
.task-item:hover > .edit {
	right: 42px;
}
